


 
    <div class="container-fluid">
        <div class="jumbotron" style="text-align: center;font-family: 'Lato', sans-serif; background-color: cadetblue;color: #fff; border-bottom: 1px solid #fff;">
          <h1>Upload Video</h1> 
         
      </div>

      <div class="container">
            <div class="form-group">
                    <input type="file" name="img[]" class="file">
                    <div class="input-group col-xs-12">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                      <input type="text" class="form-control input-lg" disabled placeholder="Upload Image">
                      <span class="input-group-btn">
                        <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                      </span>
                    </div>
                  </div>
      </div>
   
    <form class="form-inline justify-content-center">
        <div class="form-group">
            <input type="file"  (change)="onFileSelected($event)" placeholder="Upload file"  class="btn btn-default">
        </div>
        
      </form>

      <form class="form-inline justify-content-center" >
          <div class="form-group" >
            <label class="sr-only" for="token"></label>
            <input type="text" class="form-control" id="token" placeholder="System Generated Token" value={{token}}>
          </div>
          </form>


       
 